<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>apis</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <style type="text/css">
        #user form{
            text-align: center;
        }
    </style>
    <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js"></script>
    <script type="text/javascript" >
        $(function(){
           $("#check").click(function(){
               var sid = $("#sid").val();
               var sname = $("#sname").val();
               var sversion = $("#sversion").val();
               var sport = $("#sport").val();
               if(sid==""){
                   layer.alert("服务id 不能为空!");
                   return false;
               }
               if(sname==""){
                   layer.alert("服务名称 不能为空!");
                   return false;
               }
               if(sversion==""){
                   layer.alert("服务版本号 不能为空!");
                   return false;
               }
               if(sport==""){
                   layer.alert("服务端口 不能为空!");
                   return false;
               }
               $("#formx").submit();
           });

        });
    </script>
</head>
<body>
<div id="user">
    <form method="post" id="formx" action="/basex/">
    <p>服务id: <input type="text" name="sid" id="sid"/></p>
    <p>服务名称: <input type="text" name="sname" id="sname"/></p>
    <p>服务版本号: <input type="text" name="sversion" id="sversion" /></p>
    <p>服务端口: <input type="text" name="sport" id="sport"/></p>
    <input type="button" id="check" value="Submit"/>
    </form>
</div>
</body>
</html>